.card {
  margin: 6px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 350px;

  float: left;
  margin-bottom: 0px;
}

/* .card:hover {
  transform: scale(1.07);
} */

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  border-radius: 12px 20px;
}

.card_set {
  height: auto;
  width: 100%;
  margin: 60px;
}
.card_info {
  margin-right: 1px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.start {
  margin-left: 300px;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
}
