/* .filter {
  gap: 55px;
  display: flex;
  padding-left: 60px;
  margin: 10px;
} */

.filter-div {
  border-top: 1px solid grey;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  opacity: 0.5;
  min-width: 85px;
}

.links-box:hover {
  opacity: 1;
  border-bottom: 1px solid black;
}
.links-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.links-label {
  font-size: 10px;
  font-weight: 600;
  color: grey;
}
